.contact {
  text-align: center;
}

.contact #underline {
  background-color: var(--yellowish);
  height: 3vh;
  margin-left: 30vw;
  margin-bottom: 2.5vh;
}

/* Top text box for contact page */ 
.contact #topbox {
  background-color: var(--white);
  height: 90vh;
  width: 60vw;
  border: 1px solid var(--darkgrey);
  padding: 3vw;
  margin: 40px auto;
}

/* Bottom text box for contact page */ 
.contact #bottombox {
  background-color: var(--white);
  width: 60vw;
  border: 1px solid var(--darkgrey);
  padding: 3vh; 
  padding-left: 4vh;
  margin: 40px auto;
}

#email:hover {
    text-decoration: none;
}

.contactTitle {
  margin-top: 2vw;
  font-weight: bold;
}

#contact-page-desc {
  background-color: green;
}

@media screen and (max-width: 600px) {
  .contactTitle {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .contact #bottombox, .contact #topbox{
    width: 80vw;
  }
}

@media screen and (max-width: 401px) {
  .contact #topbox {
    height: 120vh;
  }
}
