.imageContainer {
    position: relative;
    text-align: center;
    color: white;
    background-color: #444444;
}

.banner {
    display: none;
}

.textOverlay-white {
    color: white;
    position: absolute;
    width: 100vw;
    text-align: center;
    top: 50%; /* Place the element 50% from the top of the container */
    transform: translateY(-50%); /* Translate the element back by half its own height */
    white-space: nowrap;
    letter-spacing: 2px;
    z-index: 1; /* Bring this element in front of the image */
}

.img-container, .imageContainer, .parallaxBanner {
    width: 100vw;
    height: 38vh;
    max-height: 315px;
}

#parallax-image {
    filter: brightness(50%); /* Dim the image */
}

@media screen and (max-width: 900px) {
    .imageContainer {
        max-height: 100%;
    }
    .banner {
        position: relative;
        display: block;
        width: 100vw;
        height: 55vh;
        object-fit: cover;
    }

    .parallax-banner {
        display: none;
    }

    .textOverlay-white {
        top: 50%; /* Have the text centered from the top */
        translate: translateY(-50%) /* Have to bring it back by half its height */ 
    }

    #parallax-image {
        filter: brightness(50%);
    }
}
