.imageContainer {
    position: relative;
    text-align: center;
    color: white;
    font-family: Karla;
    font-weight: bold;
    filter: brightness(50%);
    height: 60vh;
    max-height: 325px;
    overflow: hidden;
}

.banner {
    display: none;
}

.textOverlay-white {
    color: white;
    position: absolute;
    font-size: 10vh;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    letter-spacing: 2px;
}

.img-container {
    width: 100vw;
    height: 55vh;
}

.banner {
    position: relative;
}

@media screen and (max-width: 900px) {
    .imageContainer {
        height: 250px;
        
    }

    .banner {
        display: block;
        width: 100vw;
    }

    .parallax-banner {
        display: none;
    }

    .textOverlay-white {
        font-size:11vw;
        bottom: 50%;
      }
}
