@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;700&display=swap');

/* card */
.cardImg:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

.cardNameContainer {
  display: flex;
  flex-direction: column;
}

.cardImg {
  width: 185px;
  height: 230px;
  object-fit: cover;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 1vw;
  border-radius: 2vw;
}

.cardName {
  margin-top: 2.5px;
}

.cardRole {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 25px;
  color: var(--gold);
}

/* profile popup */
.profile-background {
  max-height: 95vh;
  padding: 50px;
  background-color: white;
  overflow: scroll;
  border-radius: 30px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.profile-main {
  text-align: center;
  margin-bottom: 15px;

}

.profile-name {
  background-color: var(--yellowish);
  top: 0;
}

.profile-role {
  color: var(--gold);
  margin-top: 15px;
}

.profile-img {
  width: 225px;
  height: 225px;
  object-fit: cover;
  border-radius: 20px;
  margin: 20px 0;
}

.profile-link-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-link img {
  width: 30px;
}

.profile-link img:hover {
  filter: brightness(90%);
  transition: 0.2s;
}

.profile-text {
  text-align: left;
  width: 100%;
}

.profile-category {
  font-weight: bold !important;
}

/* misc */
.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

/* Styling for mobile view */
@media only screen and (max-width: 767px) {
  .profile-background {
    width: 80vw;
    max-height: 80vh;
  }

  .cardImg {
    width: 150px;
    height: 200px;
  }
}

@media only screen and (max-width: 400px) {
  .cardImg {
    width: 115px;
    height: 145px;
  }

  .cardRole {
    margin-bottom: 15px;
  }

  .profile-img {
    width: 140px;
    height: 140px;
  }

  .profile-link-container {
    width: 120px;
  }

  .profile-link img {
    width: 20px;
  }
}