.Footer {
  background-color: var(--almostwhite);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 75px 100px;
}

.Footer a {
  color: var(--grey);
}

.Footer img {
  height: 25px;
  margin-right: 30px;
}

#footer-logo {
  block-size: fit-content;
  width: 250px;
  margin-bottom: 25px;
  height: auto;
} 

#footer-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#footer-header b {
  margin-bottom: 50px;
  color: var(--grey);
}

#footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50vw;
}

.footer-links-col {
  display: flex;
  flex-direction: column;
  line-height: 2.5;
  position: relative;
}

/* shows on row view, hides on col view */
.footer-row {
  display: block;
}

/* shows on col view, hides on row view */
.footer-col {
  display: none;
}

@media only screen and (max-width: 767px) {
  .Footer {
    flex-direction: column;
    padding: 75px 0px;
  }

  .Footer a {
    font-size: 14px;
  }

  #footer-header {
    align-items: center;

  }

  #footer-links {
    width: 80vw;
    margin-bottom: 50px;
  }

  .footer-row {
    display: none;
  }

  .footer-col {
    display: block;
  }
}
