/* ============================ */
/* Styles used throughout page */
/* ============================ */
.home-button {
    padding: 1.5vh 1vw;
    text-decoration: none;
    margin: 6vh 0.5vw;
    border-radius: 50px;
    transition: 0.2s;
}

.home-button {
    color: white;
    background: #6FCF97;
}

.home-button:hover {
    background-color: #4DAB74;
    text-decoration: none;
    color: white;
}


.section {
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 8vh;
}

.text {
    width: 25vw;
}

.text p {
    margin-bottom: 4vh;
    font-size: 2vh;
    font-weight: bold;
}

/* ============================ */
/* Background Puzzle Pieces & People Images */
/* ============================ */

.person {
    position: absolute;
}


.big img {
    width: 46vw;
    transform: rotate(152deg) translateY(12%);
    margin-left: 14vw;
    opacity: 0.6;
}

.small img {
    width: 8vw;
    opacity: 0.5;
    margin-left: 76vw;
    transform: rotate(90deg) translateX(-40%);
}

.sitting img {
    width: 8vw;
    margin-left: 54vw;
    transform: translateY(38vh);
}

.big2 img {
    width: 36vw;
    transform: rotate(-80deg) translate(-40vh, 10vw);
    margin-left: 44vw;
    z-index: -2;
    opacity: 0.6;
}

.big3 img {
    width: 28vw;
    transform: rotate(20deg) translate(0vw, 130vh);
    margin-left: 44vw;
    z-index: -3;
    opacity: 0.6;
}

.standing img {
    position: relative;
    width: 7vw;
    transform: translateY(100vh);
    margin-left: 24vw;
    z-index: 1;
}

.standing2 img {
    position: relative;
    width: 4vw;
    transform: translateY(100vh) scaleX(-1);
    margin-left: 42vw;
    z-index: 1;
}

#about {
    margin-bottom: 12vh;
}

#about img {
    height: 46vh;
    /* border-radius: 36px; */
    margin-left: 10%;
}

.carousel {
    width: 25vw;
    /* margin-right: 8%; */
}

.carousel-cell {
    width: 25vw;
    /* margin-right: 10px; */
}

.carousel-cell img {
    width: 25vw;
    height: inherit;
}

#project {
    margin-bottom: 24vh;
}

.text.projects {
    margin-left: 8vw;
}

.puzzle {
    position: absolute;
    opacity: 0.5;
}
