
/* Global Variables */

:root {
  --picture-layer-0: 0;
  --picture-layer-1: 1;
  --picture-layer-2: 2;
}

.AboutUs {
  text-align: center;
}

/* ----- PROJECTS INTRO ----- */
#about-us-intro {
  width: 75vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 22.5vh;
}

#about-us-blurb {
  line-height: 1.75em;
  font-weight: 400;
}

#about-us-img {
  width: 40vw;
  margin-bottom: 5vh;
}
/* ------------------------ */

#GreenHand {
  position: absolute;
  right: 3vw;
  height: 20vw;
  z-index: var(--picture-layer-1);
}

#PinkHand {
  position: absolute;
  left: 4vw;
  margin-top: -2vw;
  height: 12vw;
}

#RedHand {
  position: absolute;
  right: 3vw;
  margin-top: -12vw;
  height: 22vw;
  z-index: var(--picture-layer-2);
}

/* Picture Positions, Mobile View*/

@media only screen and (max-width: 767px)  {
  #GreenHand, #PinkHand, #RedHand {
    display: none;
  }

  #about-us-intro {
    margin-bottom: 5vh;
  }

  #about-us-img {
    width: 60vw;
  }
}
