.services-body {
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

.section-description {
    width: 50vw;
    margin: auto;
    margin-bottom: 30px;

    font-size: 20px;
}

#contact-us {
    /* Button position */
    position: fixed;
    right: 20px;
    bottom: 20px;

    /* Button Appearance */
    display: block;
    height: auto;
    width: 120px;
    border-radius: 20px;
    background-color: var(--forestgreen);
    border: none;

    /* Text */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
}

#contact-us:hover {
    transition: 0.2s;
    filter: brightness(90%);
}