.services-body {
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

.section-description {
    width: 50vw;
    margin: auto;
    margin-bottom: 30px;

    font-size: 20px;
}